/* Break point */
@media (max-width: 1023px) {
    .btn {
        padding: 15px 16px;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    .socials-list {
        font-size: 48px;
    }

    .socials-list a {
        margin: 0 4px;
    }
}

@media ( max-width: 739px){
    .s-full-width {
        width: 100% !important;
    }

    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #nav {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav > li {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav {
        position: initial;
        background-color: #000;
    }

    #nav .subnav a {
        color: white;
        padding: 0 41px;
    }
    /* div co overflow : visible */
    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 16px;
    }
}