* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper{
    position: relative;
}

#header{
    height: 46px;
    width: 100vw;
    background-color: #000;
    position: fixed;
    z-index: 1;
}

#nav > li {
    display: block;
    float: left;
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    background-color: white;
    position: absolute;
    top: 46px;
}

#nav > li:hover .subnav{
    display: block;
}

#nav .subnav li {
    display: block;
    width: 180px;
}

#nav .subnav a {
    color: #000;
    padding-left: 16px;
    line-height: 38px;
}

#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#slider img{
    display: block;
    max-height: 800px;
    width: 100vw;
}

#slider .text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    display: block;
    position: absolute;
    top: 600px;
    left: 540px;
}

#slider .text .place {
    display: inline-block;
    padding-left: 120px;
    font-size: 30px;
}

#slider .text .description {
    display: block;
    font-size: 14px;
    padding-left: 50px;
    font-weight: bold;
} 

#content {
    position: relative;
    min-height: calc(100vh - 46px);
    width: 100vw;
}

#content .intro {
    display: block;
    padding: 0 400px 0 400px;
    padding-top: 100px;
}

#content .name {
    display: block;
    box-sizing: none;
    font-size: 33px;
    text-transform: uppercase;
    font-weight: lighter;
    padding-left: 19vw;

}

#content .slogan {
    display: inline-block;
    padding-left: 21vw;
    line-height: 60px;
    font-style: italic;
    color: grey;
}

#content .about {
    display: inline-block;
    width: 800px;
    padding-right: 20px;
    text-align: justify;
}

#content .box {
    display: block;
    position: absolute;
    top: 400px;
}

#content .box p {
    padding-left: 57px;
    margin-bottom: 15px;
}

#content .box img {
    width: 170px;
    border-radius: 5px;
}

#content .box.box1 {
    left: 470px;
}  

#content .box.box2 {
    left: 710px;
}   

#content .box.box3 {
    left: 950px;
} 

#content .booking {
    position: absolute;
    top: 800px;
    width: 100vw;
    height: calc(100vh + 20px);
    background-color: black;
}

#content .booking .tourdate {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    position: absolute;
    width: 210px;
    height: 45px;
    top: 70px;
    left: 690px;
    font-size: 30px;
}

#content .booking .remind {
    color: grey;
    font-style: italic;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    top: 130px;
    left: 685px;
}

#content .booking .date {
    height: 122px;
    width: 770px;
    background-color: white;
    position: absolute;
    top: 180px;
    left: 395px;
}

#content .date li{
    line-height: 40px;
    display: block;
    border: rgb(117, 117, 117) solid;
    border-width: 0 0 2px 0;
    padding-left: 10px;
}

#content .date .sep div {
    height: 25px;
    width: 70px;
    background-color: red;
    color: white;
    position: absolute;
    top: 7px;
    left: 100px;
    line-height: 25px;
    padding-left: 5px;
    font-size: 15px;
}

#content .date .oc div {
    height: 25px;
    width: 70px;
    background-color: red;
    color: white;
    position: absolute;
    top: 48px;
    left: 100px;
    line-height: 25px;
    padding-left: 5px;
    font-size: 15px;
}

#content .date .no div {
    height: 24px;
    width: 24px;
    background-color: black;
    color: white;
    position: absolute;
    top: 90px;
    left: 720px;
    line-height: 25px;
    padding-left: 7px;
    font-size: 15px;
    border-radius: 12px;
}

#content .booking .place {
    position: absolute;
    left: 375px;
}

#content .booking .place div{
    float: left;
    margin-top: 335px;
    margin-left: 20px;
    width: 243px;
    height: 350px;
    background-color: white;
}

#content .booking .pal img {
    width: 243px;
    height: 180px;
    opacity: 0.7;
}

#content .booking .pal img:hover {
    opacity: 1;
}

#content .booking .pal.new .text {
    width: 220px;
    height: 150px;
    position: absolute;
    top: 185px;
    left: 10px;
    line-height: 20px;
}

#content .booking .pal.new .text .l1 {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}


#content .booking .pal.new .text .l2 {
    font-style: italic;
    margin-bottom: 10px;
    color: rgb(88, 88, 88)
}


#content .booking .pal.new a {
    display: block;
    text-decoration: none;
    color: white;
    width: 104px;
    height: 39px;
    background-color: #000;
    line-height: 39px;
    padding-left: 8px;
    position: absolute;
    left: 30px;
    bottom: 10px;
}

#content .booking .pal.new a:hover {
    background-color: grey;
}

#content .booking .pal.pa .text {
    width: 220px;
    height: 150px;
    position: absolute;
    top: 185px;
    left: 272px;
    line-height: 20px;
}

#content .booking .pal.pa .text .l1 {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#content .booking .pal.pa .text .l2 {
    font-style: italic;
    margin-bottom: 10px;
    color: rgb(88, 88, 88)
}

#content .booking .pal.pa a {
    display: block;
    text-decoration: none;
    color: white;
    width: 104px;
    height: 39px;
    background-color: #000;
    line-height: 39px;
    padding-left: 8px;
    position: absolute;
    left: 1px;
    bottom: -6px;
}

#content .booking .pal.pa a:hover {
    background-color: grey;
}

#content .booking .pal.san .text {
    width: 220px;
    height: 150px;
    position: absolute;
    top: 185px;
    left: 535px;
    line-height: 20px;
}

#content .booking .pal.san .text .l1 {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#content .booking .pal.san .text .l2 {
    font-style: italic;
    margin-bottom: 10px;
    color: rgb(88, 88, 88)
}

#content .booking .pal.san a {
    display: block;
    text-decoration: none;
    color: white;
    width: 104px;
    height: 39px;
    background-color: #000;
    line-height: 39px;
    padding-left: 8px;
    position: absolute;
    left: 1px;
    bottom: -6px;
}

#content .booking .pal.san a:hover {
    background-color: grey;
}

#content .contact {
    width: 100vw;
    height: 450px;
    position: absolute;
    background-color: white;
    top: 210vh;
}

#content .contact .head {
    position: absolute;
    top: 70px;
    left: 44vw;
}

#content .contact .head .l1{
    display: inline-block;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 48px;
}

#content .contact .head .l2{
    display: block;
    font-style: italic;
    font-size: 17px;
    padding-left: 4px;
    color: rgb(88, 88, 88);
}

#content .contact .address {
    position: absolute;
    top: 210px;
    left: 30vw;
}

#content .contact .address .text {
    line-height: 24px;
}

#content .contact .address .text p {
    font-size: 18px;
}

#content .contact .address .icon {
    width: 19px;
    height: 56px;
    line-height: 24px;
    position: absolute;
    top: 1px;
    left: -28px;
}

#content .contact .address .icon i {
    font-size: 20px;
}

#content .contact .submit {
    display: block;
    position: absolute;
    top: 28vh;
    left: 53vw;
}

#content .contact .submit .l input {
    height: 35px;
    margin: 0 9px 4px 0 ;
    width: 180px;
    padding: 5px;
}

#content .contact .submit .l.l2 input {
    width: 373px;
}

#content .contact .submit .l input:focus {
    border: black solid;
    border-width: 1.5px;
    outline: none;
}

#content .contact a {
    display: block;
    width: 80px;
    height: 30px;
    background-color: black;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    line-height: 30px;
    position: absolute;
    top: 41vh;
    left: calc(72vw + 1px);
}

#content .contact a:hover {
    background-color: grey;
    color: white;
}



#footer {
    position: absolute;
    top: 380vh;
    width: 100vw;
}

#footer img {
    width: 100vw;
    height: auto;
}

#footer .info {
    width: 100vw;
    height: 25vh;
    background-color: white;
}

#footer .info .icon {
    position: absolute;
    top: 125vh;
    left: 43vw;
}

#footer .info i {
    display: inline-block;
    margin: 3px;
    font-size: 20px;
    color: black;
}

#footer .info i:hover {
    color: grey;
}

#footer .info p {
    line-height: 20px;
    display: block;
    position: absolute;
    top: 130vh;
    left: calc(44vw + 2px);
    color: grey;
}